{% extends 'shop/basic.html' %}
{% block title%} home page{% endblock %}
{% block css %}

    .col-md-3{
    display:inline-block;

    }
    .col-md-3 fmg{
        width:50%;
        height:auto;
    }
    body .carousel-indicator li{
    background-color : blue;
    }
    boyd. no_padding{
    padding-left:0,
    padding-right:0;
    }
    body. carousel indicator{
        bottom:0;
    }
    .carousel-item{
        padding-left:20rem;

    }
    .class{
        padding:10px
    }
    .card-img-top{
        width:80%;
        height:100%
        position: center;
        padding-left:22%;
        padding-top:10px;
    }

    .btn-ips{
        float:right;

    }
    nav .btn{
    float:right;
    }
{% endblock %}

{% block body %}
{% load static %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
                     <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            </div>
                            </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        </div>
                    </div>


                    <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        </div>

     </div>
        </div>

    <div class="carousel-item">
      <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            </div>
                            </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        </div>
    </div>
    </div>

    <div class="carousel-item">
      <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            </div>
                            </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        </div>
    </div>    </div>
  </div>
        </div>
  <button class="carousel-control-prev btn" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next btn" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">-->
<!--<style>-->
<!--    .col-md-3{-->
<!--    display:inline-block;-->

<!--    }-->
<!--    .col-md-3 fmg{-->
<!--        width:50%;-->
<!--        height:auto;-->
<!--    }-->
<!--    body .carousel-indicator li{-->
<!--    background-color : blue;-->
<!--    }-->
<!--    boyd. no_padding{-->
<!--    padding-left:0,-->
<!--    padding-right:0;-->
<!--    }-->
<!--    body. carousel indicator{-->
<!--        bottom:0;-->
<!--    }-->
<!--    .carousel-item{-->
<!--        padding-left:20rem;-->

<!--    }-->
<!--    .class{-->
<!--        padding:10px-->
<!--    }-->
<!--    .card-img-top{-->
<!--        width:80%;-->
<!--        height:100%-->
<!--        position: center;-->
<!--        padding-left:22%;-->
<!--        padding-top:10px;-->
<!--    }-->

<!--    .btn-ips{-->
<!--        float:right;-->
<!--        width:10rem;-->
<!--    }-->
<!--    nav .btn{-->
<!--    float:right;-->
<!--    }-->


<!--</style>-->


<!--</head>-->
<!--<body>-->
<!--{% load static %}-->
<!--<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">My Awsome Cart</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--      <div class="navbar-nav">-->
<!--        <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        <a class="nav-link" href="#">Features</a>-->
<!--        <a class="nav-link" href="#">Pricing</a>-->
<!--        <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->

<!--<input class="form-control me-2 btn-ips " type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success me-2 " type="submit">Search</button>-->
<!--</div>-->

<!--    </div>-->

<!--  </div>-->
<!--</nav>-->

<!--<div id="carouselExample" class="carousel slide">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--                     <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                        </div>-->

<!--     </div>-->
<!--        </div>-->

<!--    <div class="carousel-item">-->
<!--      <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                        </div>-->
<!--    </div>-->
<!--    </div>-->

<!--    <div class="carousel-item">-->
<!--      <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                    <div class="card" style="width: 18rem;">-->
<!--                        <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Card title</h5>-->
<!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static  'shop/310.jpg' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                        </div>-->
<!--                        </div>-->
<!--    </div>    </div>-->
<!--  </div>-->
<!--        </div>-->
<!--  <button class="carousel-control-prev btn" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next btn" type="button" data-bs-target="#carouselExample" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->

<!--heosdkfjskl-->


<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->